* {
  margin: 0;
  padding: 0;
}

p {
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151515;
}

.widget {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  background-color: #242424;
  border: #c0c3bb 1px solid;
  border-radius: 7px;
  padding: 10px;
}

.widget h3 {
  font-weight: 700;
  color: white;
}

.widget a {
  background-color: white;
  color: #151515;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  text-decoration: none;
  border-radius: 4px;
}

